
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% data.forEach(function(data){%>
		<li><%=data.state%></li>
		<li><%=data.pCount%></li>
		<li><%=data.rCount%></li>

		<li><%=data.death%></li>

<%})%>
</body>
</html>